#Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
lncrawler
lightnovel-crawler-go.exe
lightnovel-crawler-go
lightnovel-crawler

#IDE files
.vscode/
.idea/
*.iml


#OS files
.DS_Store
Thumbs.db
desktop.ini

#Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

#Log files
logs
*.log
*.log.*

#Test files
*.test
coverage/
*.out